.vs_code_agent/
.pycache/
__pycache__/
notes/
node_modules/
.venv
vscode_control_agent_api.egg-info
dist/
.env.example
.env
dist-tests/
**/dist/
/dist/
apps/vscode-extension/dist/*
apps/vscode-extension/dist/extension.js
apps/vscode-extension/dist/extension.js.map